.circle.small{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(178, 226, 32);
}

.circle.middle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(204, 120, 194);
}

.circle.large{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(39, 167, 167);
}   